.App {
  text-align: center;
}


.itemslist{
  display: grid;
  grid-template-columns: 22.5% 22.5% 22.5% 22.5%;
  grid-column-gap: 2%;
  margin-left: 3%;
}



@media screen and (max-width:400px) {
  .itemslist{
    display: grid;
    grid-template-columns: 95%;
  }
    
}

@media screen and (min-width:401px) and (max-width:720px) {
  .itemslist{
    display: grid;
    grid-template-columns: 45% 45%;
    grid-column-gap: 5%;

  }
    
}

@media screen and (min-width:721px) and (max-width:1180px) {
  .itemslist{
    display: grid;
    grid-template-columns: 28% 28% 28%;
    grid-column-gap: 5.5%;
    margin-top: 10px;
  }
    
}